---
const { id } = Astro.props;
---

<a
  id={id}
  href=""
  class="view bg-gray-800 hover:bg-gray-700 text-white text-xs font-medium me-2 p-2 rounded dark:bg-blue-900 dark:text-blue-200 flex gap-x-1"
  ><slot />
</a>
