<header class="flex justify-center items-center py-3 w-full mx-auto">
  <nav
    class="flex flex-row gap-1 pt-2 lg:gap-x-10 opacity-85 text-xs lg:text-base"
  >
    <a href="#top">Inicio</a>
    <a href="#experience">Experiencia</a>
    <a href="#projects">Proyectos</a>
    <a href="#about">Sobre mi</a>
  </nav>
</header>
